version: '3.8'

services:
  db:
    image: postgres:18
    container_name: taskmanager_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postegre
      POSTGRES_DB: taskmanager
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: taskmanager_web
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postegre
      POSTGRES_DB: taskmanager
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    ports:
      - "5000:5000"
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "
        python migrate.py &&
        python app.py
      "

volumes:
  postgres_data:
